$colorBar: #aed;
$colorBorder: #ddd;

body, html {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.candidate {
  position: relative;
  padding: .5em 0 .5em 10em;
  height: 3em;

  border-bottom: 1px solid $colorBorder;
  &:first-child {
    border-top: 1px solid $colorBorder;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 2em;
  }

  .party {
    font-size: .8em;
    font-weight: normal;
    line-height: 1.25em;
  }

  .num-votes {
    position: absolute;
    left: 0;
    top: .5em;
    height: 3em;
    width: 9em;

    .bar {
      position: absolute;
      top: 1em;
      height: 1em;
      background: $colorBar;
    }

    .text {
      font-size: .6em;
      line-height: 5em;
      float: right;
    }
  }
}
