$colorBar: #970a00;
$colorError: #970a00;
$colorBorder: #ddd;
$colorFaded: #888;
$colorStrong: #333;
$colorHoverBackground: #f2f8ff;

body, html {
  margin: 0;
  padding: 0;
  font-size: 15px; // we're in an iframe, we need pixel-perfection
  font-family: 'Arial', sans-serif;
  color: $colorStrong;
}

h2 {
  position: absolute;
  margin: 0;
  top: 1.5em;
  font-family: 'Georgia', serif;
  font-size: 1.75em;
  line-height: 1.5em;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-family: 'Georgia', serif;
  font-size: 1.25em;
  line-height: 2.8em;
}

.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 30em;

  .map-wrapper2 {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
  }

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

ul.posts {
  display: block;
  max-width: 30em;
  background-color: white;
}

.postal-code {
  font-size: 1.5em;
  margin-bottom: 1em;

  p {
    margin: 0;
    padding: 0;
  }

  input, button {
    font-size: 1em;
  }

  .error {
    transition: height .5s ease-in-out;
    overflow: hidden;
    height: 1.25em;
    color: $colorError;
    font-size: .8em;
    line-height: 1.25em;

    .no-error {
      height: 0;
    }
  }
}

li.post {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: .75em 0;
  cursor: pointer;

  &:hover {
    background: $colorHoverBackground;
  }

  h3 {
    float: left;
  }

  .no-winner {
    color: $colorFaded;
    float: right;
    text-align: right;
    font-size: .8em;
    line-height: (3.5em / .8);
  }

  .winner {
    color: $colorFaded;
    float: right;
    text-align: right;

    &.without-party {
      padding-top: .5em;
    }

    h4.candidate-name {
      font-size: 1em;
      line-height: 1.5em;
      color: $colorStrong;
      margin: 0;
      padding: 0;
    }

    div {
      font-size: .8em;
      line-height: 1.25em;
      min-height: 1.25em; // even if empty
    }
  }
}

ul.candidates, ul.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.candidates {
  display: none;
  clear: both;
  cursor: auto;
}

li.open ul.candidates {
  display: block;
}

li.candidate {
  position: relative;
  padding: .5em 0 .5em 10em;
  min-height: 3em;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  &:first-child {
    opacity: 1;
    -ms-filter: '';
  }

  border-bottom: 1px solid $colorBorder;
  &:first-child {
    border-top: 1px solid $colorBorder;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: 2em;
  }

  .party {
    font-size: .8em;
    font-weight: normal;
    line-height: 1.25em;
  }

  .num-votes {
    position: absolute;
    left: 0;
    top: .5em;
    height: 3em;
    width: 9em;

    .bar {
      position: absolute;
      top: 1em;
      height: 1em;
      background: $colorBar;
    }

    .text {
      font-size: .8em;
      line-height: 4em;
      float: right;
    }
  }
}
