<form action="" method="get">
  <p>
    Search by postal code:
    <input name="postal-code" type="text" size="7" placeholder="H1H 1H1" />
    <button type="submit">Search</button>
  </p>
  <div class="info <%= infoMessage ? '' : 'no-info' %>"><%- infoMessage %></div>
  <div class="error <%= errorMessage ? '' : 'no-error' %>"><%- errorMessage %></div>
  <p>Or click your home region on the map:</p>
</form>
